body {
  overflow: hidden;
  height: 100%; }
  body .container-fluid {
    padding: 0; }
  body #main-container {
    height: 100%;
    margin-top: 25px; }
  body label {
    line-height: 30px;
    /* overflow: hidden; */ }
  body .city {
    text-align: center;
    margin: 20px auto 75px;
    margin-bottom: 75px;
    padding: 10px;
    margin-bottom: 10px;
    background: #64bad1;
    border-radius: 5px;
    background-color: #127096;
    color: #FFE64D;
    font-weight: bolder;
    width: 800px; }
  body .container {
    height: 100%;
    width: 100%;
    position: relative;
    padding: 0; }
    body .container #map {
      width: 100%;
      height: 100%;
      position: relative; }
    body .container #event {
      width: 800px;
      height: 100%;
      position: absolute;
      z-index: 3;
      right: 0;
      top: 0;
      border: solid 1px transparent;
      background: rgba(255, 230, 77, 0.5);
      overflow-y: scroll; }
      body .container #event h2, body .container #event h3 {
        text-align: center;
        margin: 35px auto 30px;
        color: #127096; }
      body .container #event #form-filter-qui {
        margin: 0 auto;
        width: 500px;
        text-align: center;
        font-size: 1px;
        color: #127096; }
        body .container #event #form-filter-qui input {
          margin-right: 1px; }
        body .container #event #form-filter-qui label {
          margin-right: 10px; }
      body .container #event #side-bar {
        line-height: 20px;
        width: 80px;
        display: inline-block;
        position: fixed;
        padding-left: 10px; }
        body .container #event #side-bar .tooltip-arrow {
          border-color: transparent; }
        body .container #event #side-bar .tooltip-inner {
          background-color: #127096;
          color: #FFE64D;
          font-weight: bolder; }
        body .container #event #side-bar #checkbox {
          margin: 7px; }
        body .container #event #side-bar .fa {
          color: #127096; }
      body .container #event .plans .plan {
        width: 580px;
        margin-top: 30px;
        margin-right: 100px;
        float: right;
        border: solid 1px #42a5f5;
        /* text-align: center; */
        /* float: right; */
        /* margin-right: 10px; */
        display: inline-block;
        background: rgba(255, 230, 77, 0.6);
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        border-radius: 5px;
        position: relative; }
        body .container #event .plans .plan .avatar {
          display: inline-block;
          text-align: center;
          position: relative;
          left: 20px; }
          body .container #event .plans .plan .avatar p {
            position: relative;
            /* left:50px; */
            font-size: 13px;
            color: #286090;
            font-weight: bolder; }
          body .container #event .plans .plan .avatar img {
            width: 80px;
            height: 80px;
            display: inline-block;
            margin: 10px;
            position: relative;
            /* left: 50px */ }
        body .container #event .plans .plan figure {
          text-align: center;
          position: relative;
          top: 0;
          right: 5px;
          display: inline-block;
          margin-left: 15px;
          float: right;
          margin: 7px;
          width: 70%; }
          body .container #event .plans .plan figure h3 {
            margin-top: 0;
            font-weight: bolder; }
          body .container #event .plans .plan figure p {
            line-height: 25px;
            font-size: 12px; }
      body .container #event .plans button {
        padding: 0;
        display: inline-block;
        /* margin-right: 20px; */
        width: 70px;
        line-height: 30px;
        background: #127096;
        color: #FFE64D;
        -webkit-border-radius: 10%;
        -moz-border-radius: 10%;
        -ms-border-radius: 10%;
        border-radius: 10%;
        font-size: 12px;
        position: absolute;
        right: 10px;
        bottom: 10px; }
      body .container #event nav {
        margin: 0 auto;
        text-align: center; }
        body .container #event nav .caractere {
          background: rgba(255, 230, 77, 0.6); }
          body .container #event nav .caractere:hover {
            color: #ffe64d;
            background: #127096; }
        body .container #event nav a {
          background: rgba(255, 230, 77, 0.6); }
          body .container #event nav a:hover {
            color: #ffe64d;
            background: #127096; }
        body .container #event nav .active a {
          background: #127096; }
    body .container .modal-body {
      color: #127096;
      background: #F3E377;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      border-radius: 10px; }
      body .container .modal-body h3 {
        text-align: center;
        font-weight: bolder; }
      body .container .modal-body a {
        color: #127096;
        font-weight: bolder; }
      body .container .modal-body .carousel .item {
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        border-radius: 10px; }
        body .container .modal-body .carousel .item img {
          width: 100%;
          -webkit-border-radius: 10px;
          -moz-border-radius: 10px;
          -ms-border-radius: 10px;
          border-radius: 10px; }
      body .container .modal-body #carousel-example-generic {
        width: 300px;
        height: 200px;
        margin: 0 auto;
        margin-top: 20px;
        border-radius: 10px; }

/*# sourceMappingURL=city.css.map */
