@import 'variables.scss';
@import '_mixins.scss';

h1 {
	text-align: center;
	margin: 75px auto;
	padding: 15px;
	margin-bottom: 0;
	background:rgb(100, 186, 209);
	@include border-radius(5px);
	background-color: #127096;
	color:#FFE64D;
	font-weight: bolder;
	width: 800px;
}

.row{
	width: 70% ;
	margin: 0 auto;

	li {
		margin: 50px auto;
		text-align: center;
	}

}
.navbar-nav {
    padding-left: 390px;
    text-align: center;
}
fieldset {
	margin-bottom: 50px;
}

.mbp, .ndl , .ville, .pays {
	width: 49.5029821074%;
}

#title, #name_bp, #city, #country {
	width: 100%;
}
.row {
	margin-top: 50px
}
.liens {
	list-style: none;

	li {
		margin: 30px 0 30px 0;

		a {
			text-decoration: none;
			color: #FFE64D;
			background-color: #127096;
			border-radius: 4px;
			padding: 10px;
			font-size: 18px;

			&:hover {
				color: #127096;
				background-color: #FFE64D;
				border-radius: 4px;
				padding: 10px;
			}
		}
	}
}
#view{
	li{
		text-decoration: none;
			color: #127096;
			font-size: 18px;
			width:400px;
			text-align:left;

			&:hover {
				color:#FFE64D;

				border-radius: 4px;

			}
	}
}