@import 'variables.scss';
@import '_mixins.scss';


body{

	background: url(../images/logo-travel-share.png) no-repeat center 190px;

	.containe-register{
		margin-top: 80px;
		opacity: 0.8;

		.panel-login {
				background: #E0F1F6;
				border-color: #ccc;
				@include box-shadow(0, 2px, 3px, 0, rgba(0,0,0,0.2) );


				.panel-heading {
					color: #00415d;
					background-color: #fff;
					border-color: #fff;
					text-align:center;

					.authent-form-link{
						text-decoration: none;
						color: #666;
						font-weight: bold;
						font-size: 15px;
						-webkit-transition: all 0.1s linear;
						-moz-transition: all 0.1s linear;
						transition: all 0.1s linear;


					}
						.active{
							color: #1967BE;
							font-size: 18px;
						}
					hr{
						margin-top: 10px;
						margin-bottom: 0px;
						clear: both;
						border: 0;
						height: 1px;

						background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.15), rgba(0,0,0,0));
						background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.15), rgba(0,0,0,0));
						background-image: linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.15), rgba(0,0,0,0));

						background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	                    background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
					}




				}


			}
			.panel-body{

				.row{

					.col-lg-12{


						input[type="password"],input[type="pseudo"],input[type="login"]{
							height: 45px;
							border: 1px solid #ddd;
							font-size: 16px;
							background: rgba(250, 229, 119, 0.5) ;
							-webkit-transition: all 0.1s linear;
							-moz-transition: all 0.1s linear;
							transition: all 0.1s linear;
						}
						input:hover,input:focus{
							outline:none;
							border-color: #ccc;

							@include box-shadow(none);

						}

						.btn-login{
							background-color: #59B2E0;
							outline: none;
							color: #fff;
							font-size: 14px;
							height: auto;
							font-weight: normal;
							padding: 14px 0;
							text-transform: uppercase;
							border-color: #59B2E6;

							&:hover, &:focus{
								color: #fff;
								background-color: #53A3CD;
								border-color: #53A3CD;
							}

						}

						.forgot-password{
							text-decoration: underline;
							color: #888;

							&:hover, &:focus{
								text-decoration: underline;
								color: #666;
							}



						}

						.btn-register {
							background-color: #1CB94E;
							outline: none;
							color: #fff;
							font-size: 14px;
							height: auto;
							font-weight: normal;
							padding: 14px 0;
							text-transform: uppercase;
							border-color: #1CB94A;

							&:hover, &:focus{
								color: #fff;
								background-color: #1CA347;
								border-color: #1CA347;
							}
						}


					}
				}
			}





		}

		.modal{
			.radio,.menue{
			  display: inline;
			}
			img{
			  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);

			  width: 16%;
			  padding: 20px
			}

		}










}